<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Epicor Login Test</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <h1>Response Received!</h1>

            <p>See below for response information:</p>

            <p>{{ auth_resp }}</p>
        </div>
    </body>
</html>
